.carousel_container {
    display: block;
    margin-top: -20px;
    text-align: center;
}
.carousel_container ul{
    height: 400px;
    display: block;
}
.bgimage{
    height: 400px;
    display: block;
}


.busca input{
    vertical-align:middle;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
   
}

.col-lg-3 {
  width: 100%;
}

.navbar-default .container-fluid .collapse ul{
    font-size: 16px;
    color: green;
    padding-top: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.btnreg {
    margin-left: 15px;
}

.footBack {
    background: #ddd;
    padding: 20px 5px;
    height: 90px;
    width: 100%;
    bottom: 0;
}

.footMens {
    display: block;
}

.footMens>p {
    text-align: center;
    margin: 0px auto;
}


.sidebar-fondo {
    background-color: #3F3F3F;
}

.sid-menu-item {
    padding: 15px 10px;
    margin-left: 20px;
}

.sid-menu-item>a:link {
    text-decoration: none;
    color: #fff;
}