<h2>Ejercicio Estructura Angular</h2>
    <div>
        <p ng-model="hello.hola">{{hello.hola}}</p>
        Planeta: <input type="text" name="input" ng-model="nuevoPlaneta.modelo" placeholder="Ingrese Modelo">
        Conquistador: <input type="text" name="input" ng-model="nuevoPlaneta.piloto" placeholder="Ingrese Piloto">
        <hr>
        <span><label>La nueva nave a agregar es:   <b>{{nuevoPlaneta.modelo}}</b></label></span><button ng-click="agregarPlaneta(nuevoPlaneta)"> Agregar</button>
        <ul>
            <li ng-repeat="planeta in planetas" >
                <input type="checkbox" ng-model="tachado"><span ng-hide="planeta.editar" ng-class="{check: tachado}"><label>Id: <b>{{planeta.id}} </b>Modelo:  <b>{{planeta.modelo}}</b> Piloto:  <b>{{planeta.piloto}}</b>  </label><button ng-model="planeta.editar" ng-click="editarPlaneta(planeta)">Editar</button><button ng-click="borrarPlaneta(planeta)">Borrar</button></span></input>
                <span ng-show="planeta.editar"><input type="text" name="input" ng-model="planeta.texto" ><button ng-click="editarPlaneta(planeta)">Aceptar</button></span>
            </li>          
        </ul>
    </div>