<!DOCTYPE html>
<html lang="en" ng-app="AngularJS">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Angular App 3</title>
        <script src="./Core/angular.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            var app = angular.module('AngularJS', []);

            app.controller('todoEnMemoria', ["$scope",function($scope){
                $scope.memorias =[
                    {
                    texto: 'Jovlantuum',
                    conquistador: 'Fraqoom',
                    editar: false
                    },
                    {
                    texto: 'Xaloumnot',
                    conquistador: 'Valoor',
                    editar: false
                    }
                    ];
                $scope.memoriaNueva = {};
                $scope.value= false; 

                $scope.mostrar= function(memoria){
                    if(!memoria.editar){
                        memoria.editar = true;
                    }else if(memoria.editar){
                        memoria.editar = false;
                    }
                    return memoria;
                }


                $scope.agregarMemoria = function(){
                $scope.memorias.push($scope.memoriaNueva);
                $scope.memoriaNueva = {};
                $scope.memoriaNueva.texto = "...";
                }

                $scope.borrarMemoria = function(memoria){
                    var index = $scope.memorias.indexOf(memoria);
                    $scope.memorias.splice(index, 1);
                }

                $scope.check = function(memoria){
                    memoria.texto = memoria.texto.strike();
                    memoria.conquistador = memoria.conquistador.strike();
                }
            }]);
            
            
            
        </script>
        
        <style>
            .check {
                text-decoration: line-through;
            }
        </style>

        <h2>Ejercicio 3 Angular</h2>
        <div ng-controller="todoEnMemoria">
            <p ng-model="hello.hola">{{hello.hola}}</p>
            Planeta: <input type="text" name="input" ng-model="memoriaNueva.texto" placeholder="Ingrese Texto">
            Conquistador: <input type="text" name="input" ng-model="memoriaNueva.conquistador" placeholder="Ingrese Conquistador">
            <hr>
            <span><label>El nuevo planeta a agregar es:   <b>{{memoriaNueva.texto}}</b></label></span><button ng-click="agregarMemoria()"> Agregar</button>
            <ul>
                <li ng-repeat="memoria in memorias | orderBy: 'texto'" >
                    <input type="checkbox" ng-model="tachado"><span ng-hide="memoria.editar" ng-class="{check: tachado}"><label>Planeta:  <b>{{memoria.texto}}</b> Conquistador:  <b>{{memoria.conquistador}}</b>  </label><button ng-model="memoria.editar" ng-click="mostrar(memoria)">Editar</button><button ng-click="borrarMemoria(memoria)">Borrar</button></span></input>
                    <span ng-show="memoria.editar"><input type="text" name="input" ng-model="memoria.texto" ><button ng-click="mostrar(memoria)">Aceptar</button></span>
                </li>          
            </ul>
        </div>
    </body>
</html>