html {
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
    font-size: 20px;
    overflow: hidden;
}

p{
    font-size: 1em;
}
.contenedorhelp1
    {
       
        max-width: 100%;

    }

.contenedorhelp2
    {
       
        max-width: 100%;

    }

.contenedorhelp2 .contenedor5, .contenedorhelp2 .contenedor6{
    display: table-cell;
 }

.contenedorhelp1 .contenedor2, .contenedorhelp1 .contenedor3, .contenedorhelp1 .contenedor4{
    display: table-cell;
 }

.contenedor1
    {
        color : white;
        background-color: red;
        width: 100%;
        height: 30px;
    }
.contenedor2
    {
        color : white;
        background-color: orangered;
        height: 100px;
    }
.contenedor3
    {
        color : white;
        background-color:orange;
        height: 100px
    }
.contenedor4
    {
        color : white;
        background-color: yellow;
        height: 100px
    }
.contenedor5
    {
        color : white;
        background-color: greenyellow;
    }
.contenedor6
    {
        color : white;
        background-color: yellowgreen;     
    }
.contenedor7
    {
        color : white;
        background-color: green;
        height: 30px;
    }

.aa{
    background-color: red;
    height: 30px;
}
.ab{
    background-color: orangered;
    height: 100px;
}       
.bc{
    background-color: orange;
    height: 100px;
}
.cd{
    background-color: yellow;
    height: 100px;
}
.de{
    background-color: greenyellow;
}
.ef{
    background-color: yellowgreen;
}
.fg{
    background-color: green;
    height: 30px;
}


.row .aa, .row .ab, .row .bc, .row .cd, .row .de, .row .ef, .row .fg {
    color: white;
}